In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

In [3]:
ci = pkg.resource('checkins').dataframe()
ci.head()

,user_id,id,location,feeling,start_date,submit_date,network_id,form,clientid,tablecloth_link,qr_code_link
0,901,,ElCajon,heart eyes,2017-10-25 23:29:23,2017-10-25 23:29:23,,Checkin,,,
1,902,,ElCajon,smiling face,2017-10-25 23:30:37,2017-10-25 23:30:37,,Checkin,,,
2,81,,ElCajon,heart eyes,2017-10-25 23:32:42,2017-10-25 23:32:42,,Checkin,,,
3,1004,,ElCajon,screaming in fear,2017-10-25 23:46:01,2017-10-25 23:46:01,,Checkin,,,
4,1009,,ElCajon,smiling face,2017-10-25 23:47:51,2017-10-25 23:47:51,,Checkin,,,

In [4]:
ci.form.value_counts()

Checkin                    4191
Checkout                   3165
Long Checkin - tba3QU       457
Long Checkout - ljilj8      367
Checkin (quick)             168
Checkin Quick - gu1NmX      164
Checkout Quick - rRzNmu     136
Checkout (quick)            126
                              1
Name: form, dtype: int64

In [5]:
def form_type(v):
    if 'checkin' in v.lower():
        return 'in'
    elif 'checkout' in v.lower():
        return 'out'

    return 'unk'

t = ci.copy()   
t['cico'] = ci.form.apply(form_type)
t.head()
t[t.cico == 'unk']   

t['submit_date'] = pd.to_datetime(t.submit_date)

t.head()

,user_id,id,location,feeling,start_date,submit_date,network_id,form,clientid,tablecloth_link,qr_code_link,cico
0,901,,ElCajon,heart eyes,2017-10-25 23:29:23,2017-10-25 23:29:23,,Checkin,,,,in
1,902,,ElCajon,smiling face,2017-10-25 23:30:37,2017-10-25 23:30:37,,Checkin,,,,in
2,81,,ElCajon,heart eyes,2017-10-25 23:32:42,2017-10-25 23:32:42,,Checkin,,,,in
3,1004,,ElCajon,screaming in fear,2017-10-25 23:46:01,2017-10-25 23:46:01,,Checkin,,,,in
4,1009,,ElCajon,smiling face,2017-10-25 23:47:51,2017-10-25 23:47:51,,Checkin,,,,in

In [6]:
def most(x):
    """Select the most common item that isn't empty"""
    try:
        return list(e for e in x.value_counts().index if e and e.strip())[0]
    except AttributeError:
        return list(e for e in x.value_counts().index if e)[0]
    except IndexError:
        return None

t2 = t[(t.user_id.notnull()) & (t.user_id != '')]

g = t2[t2.cico == 'in'].groupby(['user_id',t.submit_date.dt.date])
checkins = g.agg({'submit_date':'min', 'feeling': most, 'location': most})
checkins.columns = ['ci_time', 'ci_feeling', 'location']

g = t2[t2.cico == 'out'].groupby(['user_id',t.submit_date.dt.date])
checkouts = g.agg({'submit_date':'max', 'feeling': most})
checkouts.columns = ['co_time','co_feeling']
checkouts

ci_table = checkins.join(checkouts)
ci_table['session_length'] = ((ci_table.co_time - ci_table.ci_time)/  np.timedelta64(1, 'm')).round(0)
ci_table = ci_table.reset_index().sort_values('ci_time').drop(columns=['submit_date'])
ci_table

,user_id,ci_time,ci_feeling,location,co_time,co_feeling,session_length
3090,901,2017-10-25 23:29:23,heart eyes,ElCajon,NaT,NaN,NaN
3109,902,2017-10-25 23:30:37,smiling face,ElCajon,NaT,NaN,NaN
2826,81,2017-10-25 23:32:42,heart eyes,ElCajon,NaT,NaN,NaN
9,1004,2017-10-25 23:46:01,screaming in fear,ElCajon,NaT,NaN,NaN
88,1009,2017-10-25 23:47:51,smiling face,ElCajon,NaT,NaN,NaN
51,1008,2017-10-25 23:48:50,smiling face,ElCajon,NaT,NaN,NaN
2783,80,2017-10-26 00:11:11,smiling face,ElCajon,2017-10-26 00:51:02,None,40.0
3116,903,2017-10-26 00:12:56,smiling face,ElCajon,2017-10-26 00:51:59,None,39.0
263,1053,2017-10-27 22:53:59,heart eyes,ImperialBeach,2017-10-27 23:44:22,None,50.0
1107,205,2017-10-27 23:22:05,null,ImperialBeach,2017-10-27 23:47:10,None,25.0
3239,948,2017-10-27 23:30:34,heart eyes,ImperialBeach,2017-10-27 23:45:19,None,15.0
2650,732,2017-10-27 23:33:04,heart eyes,ImperialBeach,NaT,NaN,NaN
3234,945,2017-10-28 00:03:47,heart eyes,ImperialBeach,2017-10-28 00:26:06,None,22.0
3271,97,2017-10-28 00:13:34,smiling face,ImperialBeach,2017-10-28 00:19:24,None,6.0
1458,278,2017-10-28 00:38:38,heart eyes,ImperialBeach,2017-10-28 00:51:55,None,13.0
2428,64,2017-10-28 00:40:11,heart eyes,ImperialBeach,NaT,NaN,NaN
596,1178,2017-10-28 15:50:41,smiling face,CityHeights,NaT,NaN,NaN
3026,878,2017-10-28 16:06:53,smiling face,CityHeights,NaT,NaN,NaN
590,1173,2017-10-28 16:14:48,smiling face,CityHeights,NaT,NaN,NaN
1999,469,2017-10-28 16:22:10,heart eyes,CityHeights,NaT,NaN,NaN
1074,197,2017-10-28 16:25:47,heart eyes,CityHeights,2017-10-28 18:44:19,None,139.0
1057,196,2017-10-28 16:27:05,heart eyes,CityHeights,2017-10-28 18:45:14,None,138.0
2012,476,2017-10-28 16:28:59,smiling face,CityHeights,2017-10-28 16:49:40,None,21.0
2743,772,2017-10-28 16:32:12,heart eyes,CityHeights,NaT,NaN,NaN
2807,801,2017-10-28 16:33:21,heart eyes,CityHeights,NaT,NaN,NaN
1624,340,2017-10-28 16:37:42,smiling face,CityHeights,2017-10-28 17:30:59,None,53.0
562,1163,2017-10-28 16:37:52,heart eyes,CityHeights,NaT,NaN,NaN
2133,530,2017-10-28 16:38:55,heart eyes,CityHeights,NaT,NaN,NaN
2529,697,2017-10-28 16:41:54,heart eyes,CityHeights,NaT,NaN,NaN
1404,257,2017-10-28 16:44:26,heart eyes,CityHeights,2017-10-28 18:08:15,None,84.0
...,...,...,...,...,...,...,...
1426,258,2018-12-15 19:02:07,screaming in fear,City Heights,2018-12-15 19:22:48,screaming in fear,21.0
1865,411,2018-12-15 19:07:07,smiling face,Vista,2018-12-15 20:30:18,smiling face,83.0
823,156,2018-12-15 19:08:13,Not Sure,Vista,2018-12-15 19:17:28,smiling face,9.0
2318,601,2018-12-15 19:09:53,smiling face,Vista,2018-12-15 19:20:12,smiling face,10.0
1332,240,2018-12-15 19:11:23,smiling face,Vista,2018-12-15 19:19:24,smiling face,8.0
2319,602,2018-12-15 19:12:24,heart eyes,Vista,2018-12-15 19:15:59,heart eyes,4.0
2491,674,2018-12-15 19:19:39,smiling face,City Heights,NaT,NaN,NaN
369,1095,2018-12-15 19:22:11,heart eyes,City Heights,NaT,NaN,NaN
2211,572,2018-12-15 19:30:49,heart eyes,City Heights,2018-12-15 19:32:05,smiling face,1.0
1123,214,2018-12-15 19:36:24,screaming in fear,City Heights,2018-12-15 19:42:23,screaming in fear,6.0
1133,216,2018-12-15 19:37:23,heart eyes,City Heights,2018-12-15 19:41:38,smiling face,4.0
2943,850,2018-12-15 19:45:48,Not Sure,Vista,2018-12-15 19:50:35,sad face,5.0
2939,847,2018-12-15 19:46:52,smiling face,Vista,2018-12-15 19:52:01,heart eyes,5.0
594,1176,2018-12-15 20:04:38,heart eyes,Vista,2018-12-15 20:18:11,smiling face,14.0
1335,243,2018-12-16 21:01:16,heart eyes,El Cajon,2018-12-16 22:12:02,smiling face,71.0
3015,87,2018-12-16 21:03:24,heart eyes,El Cajon,2018-12-16 21:27:39,heart eyes,24.0
330,1079,2018-12-16 21:06:49,smiling face,El Cajon,2018-12-16 21:36:35,smiling face,30.0
323,1077,2018-12-16 21:08:17,heart eyes,El Cajon,2018-12-16 21:36:59,heart eyes,29.0
3176,92,2018-12-16 21:11:23,heart eyes,El Cajon,2018-12-16 21:22:48,heart eyes,11.0
2727,764,2018-12-16 21:16:25,heart eyes,Grossmont Center,2018-12-16 21:25:46,smiling face,9.0
2729,765,2018-12-16 21:17:14,heart eyes,Grossmont Center,NaT,NaN,NaN
1540,305,2018-12-16 21:21:23,smiling face,Grossmont Center,2018-12-16 21:34:21,smiling face,13.0
485,1139,2018-12-16 21:22:34,smiling face,Grossmont Center,2018-12-16 21:35:09,None,13.0
226,1032,2018-12-16 21:35:56,Not Sure,El Cajon,2018-12-16 22:52:39,screaming in fear,77.0
1235,232,2018-12-16 21:43:04,heart eyes,Grossmont Center,2018-12-16 22:39:48,heart eyes,57.0
2210,571,2018-12-16 21:45:32,smiling face,El Cajon,2018-12-16 22:32:34,smiling face,47.0
1115,211,2018-12-16 21:51:48,heart eyes,El Cajon,NaT,NaN,NaN
225,1031,2018-12-16 22:00:12,smiling face,Grossmont Center,NaT,NaN,NaN
3232,943,2018-12-16 22:04:06,heart eyes,Grossmont Center,2018-12-16 22:27:55,heart eyes,24.0
2212,573,2018-12-16 22:32:03,smiling face,El Cajon,2018-12-16 22:33:07,smiling face,1.0

In [8]:
len(ci_table), ci_table.ci_time.min(), ci_table.ci_time.max()

(3343, Timestamp('2017-10-25 23:29:23'), Timestamp('2018-12-16 22:32:03'))

In [9]:
ci = ci.fillna('')
ci

,user_id,id,location,feeling,start_date,submit_date,network_id,form,clientid,tablecloth_link,qr_code_link
0,901,,ElCajon,heart eyes,2017-10-25 23:29:23,2017-10-25 23:29:23,,Checkin,,,
1,902,,ElCajon,smiling face,2017-10-25 23:30:37,2017-10-25 23:30:37,,Checkin,,,
2,81,,ElCajon,heart eyes,2017-10-25 23:32:42,2017-10-25 23:32:42,,Checkin,,,
3,1004,,ElCajon,screaming in fear,2017-10-25 23:46:01,2017-10-25 23:46:01,,Checkin,,,
4,1009,,ElCajon,smiling face,2017-10-25 23:47:51,2017-10-25 23:47:51,,Checkin,,,
5,1008,,ElCajon,smiling face,2017-10-25 23:48:50,2017-10-25 23:48:50,,Checkin,,,
6,80,,ElCajon,smiling face,2017-10-26 00:11:11,2017-10-26 00:11:11,,Checkin,,,
7,903,,ElCajon,smiling face,2017-10-26 00:12:56,2017-10-26 00:12:56,,Checkin,,,
8,81,,ElCajon,,,2017-10-26 00:50:17,,Checkout,,,
9,80,,ElCajon,,,2017-10-26 00:51:02,,Checkout,,,
10,903,,ElCajon,,,2017-10-26 00:51:59,,Checkout,,,
11,901,,ElCajon,,,2017-10-26 00:53:13,,Checkout,,,
12,902,,ElCajon,,,2017-10-26 00:54:20,,Checkout,,,
13,1009,,ElCajon,,,2017-10-26 00:54:44,,Checkout,,,
14,1008,,ElCajon,,,2017-10-26 00:55:13,,Checkout,,,
15,1004,,ElCajon,,,2017-10-26 00:55:43,,Checkout,,,
16,,,,,2017-10-27 22:43:46,2017-10-27 22:43:46,,Checkin,,,
17,1053,,ImperialBeach,heart eyes,2017-10-27 22:53:59,2017-10-27 22:53:59,,Checkin,,,
18,205,,ImperialBeach,null,2017-10-27 23:22:05,2017-10-27 23:22:05,,Checkin,,,
19,948,,ImperialBeach,heart eyes,2017-10-27 23:30:34,2017-10-27 23:30:34,,Checkin,,,
20,732,,ImperialBeach,heart eyes,2017-10-27 23:33:04,2017-10-27 23:33:04,,Checkin,,,
21,1053,,ImperialBeach,,,2017-10-27 23:44:22,,Checkout,,,
22,948,,ImperialBeach,,,2017-10-27 23:45:19,,Checkout,,,
23,205,,ImperialBeach,,,2017-10-27 23:47:10,,Checkout,,,
24,945,,ImperialBeach,heart eyes,2017-10-28 00:03:47,2017-10-28 00:03:47,,Checkin,,,
25,97,,ImperialBeach,smiling face,2017-10-28 00:13:34,2017-10-28 00:13:34,,Checkin,,,
26,97,,ImperialBeach,,,2017-10-28 00:19:24,,Checkout,,,
27,945,,ImperialBeach,,,2017-10-28 00:26:06,,Checkout,,,
28,278,,ImperialBeach,heart eyes,2017-10-28 00:38:38,2017-10-28 00:38:38,,Checkin,,,
29,64,,ImperialBeach,heart eyes,2017-10-28 00:40:11,2017-10-28 00:40:11,,Checkin,,,
...,...,...,...,...,...,...,...,...,...,...,...
8745,1079,90bb35b3446476e250496d86d8a6da55,,smiling face,,2018-12-16 21:36:35,,Long Checkout - ljilj8,NEW+Lawand +Sadi,,
8746,1077,301ea730289acd246d355be921472d5c,,heart eyes,,2018-12-16 21:36:59,,Long Checkout - ljilj8,NEW+Areen+Sadi,,
8747,,80a1bffb91e353899f4954bb130f1c38,,heart eyes,,2018-12-16 21:38:21,,Checkin Quick - gu1NmX,1cd2e4233eba864dfa050a5d07f26eca,,
8748,,ff9b232b36fb15f5b0a085641dba8e28,Grossmont Center,,,2018-12-16 21:40:25,,Long Checkin - tba3QU,NEW+Forrest+McCoy+Grossmont Center,,
8749,,15e09a986b961ec82139bea83af19151,Grossmont Center,cold sweat,,2018-12-16 21:41:09,,Long Checkin - tba3QU,NEW+Merrick+McCoy+Grossmont Center,,
8750,232,b503a973c5764a297bd1a6efe8fd21dc,Grossmont Center,heart eyes,,2018-12-16 21:43:04,,Long Checkin - tba3QU,NEW+Andy +Astifo +Grossmont Center,,
8751,571,82fde46469cdef0f3e0a94c29155e893,El Cajon,smiling face,,2018-12-16 21:45:32,,Long Checkin - tba3QU,NEW+Emmett+Gooden+El Cajon,,
8752,,9380fae1ff4f04c5e2be95125618db15,,heart eyes,,2018-12-16 21:49:12,,Checkin Quick - gu1NmX,2258d5bf838390fe67a5a0b7a96832de,,
8753,,d517e84dbf43660c7f6e1cf36bbc74fa,,heart eyes,,2018-12-16 21:50:12,,Checkin Quick - gu1NmX,8d908b55fbf9183954acd9857aee6078,,
8754,211,fb01fc62a31db4f3e117666438d8cdcc,El Cajon,heart eyes,,2018-12-16 21:51:48,,Long Checkin - tba3QU,NEW+Genesis +Ortiz +El Cajon,,
8755,,eecb33d1390d467eb8534a15b698bfe0,,screaming in fear,,2018-12-16 21:58:01,,Long Checkout - ljilj8,NEW+Forrest+McCoy,,
8756,,3392ce1b6b3ae60e74390c8c22338da0,,sad face,,2018-12-16 21:58:36,,Long Checkout - ljilj8,NEW+Merrick+McCoy,,
8757,1031,25e41dd4ef0f0c36a6af72695376db49,Grossmont Center,smiling face,,2018-12-16 22:00:12,,Long Checkin - tba3QU,NEW+Eros+Zamora+Grossmont Center,,
8758,,d97d73365f278a71b65dac5080279635,,heart eyes,,2018-12-16 22:03:35,,Checkout Quick - rRzNmu,NEW Elizabeth Alfasy El Cajon,,
8759,,13772302b41dc8f00303df4fdd396520,,heart eyes,,2018-12-16 22:03:59,,Checkout Quick - rRzNmu,NEW Eve Alfasy El Cajon,,
8760,943,0e86a727d1f0bc6cac8e5516fa497b61,Grossmont Center,heart eyes,,2018-12-16 22:04:06,,Long Checkin - tba3QU,NEW+Zoey+Robb+Grossmont Center,,
8761,,4b8d8efcd5cd0edb6542854f7211a271,,smiling face,,2018-12-16 22:08:06,,Checkin Quick - gu1NmX,a87cf44401417e6bfb694ae63df1e1ed,,
8762,243,036ef2d1b7734d572eb6fddfcefde900,,smiling face,,2018-12-16 22:12:02,,Long Checkout - ljilj8,NEW+Brayden+Whitehead,,
8763,943,1906a4a8e44dcd7c2fe14fd0c1fbf02c,,heart eyes,,2018-12-16 22:27:55,,Long Checkout - ljilj8,NEW+Zoey+Robb,,
8764,573,d972f560dca6950a99872b8d207f2317,El Cajon,smiling face,,2018-12-16 22:32:03,,Long Checkin - tba3QU,NEW+Dean+Gooden+El Cajon,,
8765,571,75ce52b331b617f7fdf842c49e09d676,,smiling face,,2018-12-16 22:32:34,,Long Checkout - ljilj8,NEW+Emmett+Gooden,,
8766,573,2227d94bb354b8c48ee8f4c170722ee6,,smiling face,,2018-12-16 22:33:07,,Long Checkout - ljilj8,NEW+Dean+Gooden,,
8767,,e96235ba455dd9c3c006225ee4658caa,,heart eyes,,2018-12-16 22:37:06,,Checkout Quick - rRzNmu,2258d5bf838390fe67a5a0b7a96832de,,
8768,233,86a37f60dc4420fd07cd8bc7c167b027,,heart eyes,,2018-12-16 22:38:09,,Long Checkout - ljilj8,NEW+Kareen+Astifo,,
8769,,c3d2af4e1205e5b0db03e13b60d6aefd,,heart eyes,,2018-12-16 22:39:04,,Checkout Quick - rRzNmu,8d908b55fbf9183954acd9857aee6078,,
8770,232,06e555382d6240d9189aa757f6e10b7e,,heart eyes,,2018-12-16 22:39:48,,Long Checkout - ljilj8,NEW+Andy +Astifo,,
8771,1032,85456f065e9243c28a4e5697d6fad325,,screaming in fear,,2018-12-16 22:52:39,,Long Checkout - ljilj8,NEW+Fadi+Sameer,,
8772,,fdc8077539b41ed72143f8cc06275035,,smiling face,,2018-12-16 22:53:48,,Checkout Quick - rRzNmu,a87cf44401417e6bfb694ae63df1e1ed,,
8773,,baf67181793142a706b8961abf2f0440,,,,2018-12-16 22:56:25,,Checkout Quick - rRzNmu,1cd2e4233eba864dfa050a5d07f26eca,,
8774,,44adc5784c370361f8fa400bba7836b2,,heart eyes,,2018-12-16 22:57:42,,Checkout Quick - rRzNmu,9e50c209a873f36c833a6efbd22ce835,,