In [6]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 
from datetime import datetime 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

%run ../pylib/metaphone.py

**********************************************************************
File "/Users/eric/proj/virt-proj/data-project/sdrdl-data-projects/tablecloth.io/tablecloth.io-storytent-201811/pylib/metaphone.py", line 19, in __main__
Failed example:
    dm(u'Bartoš'), dm(u'Bartosz'), dm(u'Bartosch'), dm(u'Bartos')
Expected:
    (('PRT', ''), ('PRTS', 'PRTX'), ('PRTX', ''), ('PRTS', ''))
Got:
    (('PRTS', ''), ('PRTS', 'PRTX'), ('PRTX', ''), ('PRTS', ''))
**********************************************************************
1 items had failures:
   1 of   4 in __main__
***Test Failed*** 1 failures.

In [7]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg

In [14]:
# Link in the old users
osource = pkg.reference('orig_source').dataframe()
osource['first_dm'] = osource.first_name.apply(lambda v: dm(v)[0])
osource['last_dm'] = osource.last_name.apply(lambda v: dm(v)[0])
osource['sound_key'] = osource.apply(lambda r: "{}/{}".format(dm(r['last_name'])[0], dm(r['first_name'])[0]), axis=1)
osource.rename(columns={'birthdate':'birthday','first_name':'first','last_name':'last','gender':'sex'}, inplace=True)
osource.head()# [['sound_key', 'first','last', 'first_dm','last_dm','birthday']].head()

,source_file,location,first,last,sex,grade,birthday,checkin_feeling,checkout_feeling,checkin_timestamp,...,quick_checkout_url,birthdate_converted,checkin_qr_url,checkout_qr_url,notes,qr_checkin_url,qr_checkout_url,first_dm,last_dm,sound_key
0,sept18,ElCajon,Aelen,Putrus,Girl,1,2011-04-13,heart eyes,,2017-10-25 23:29:23,...,https://storytentvisit.typeform.com/to/rRzNmu?...,4/13/2011,#NAME?,#NAME?,NOTES,#NAME?,#NAME?,ALN,PTRS,PTRS/ALN
1,sept18,CityHeights,Benjamin,Kolee,Boy,1,2018-08-21,heart eyes,,2018-09-01 16:19:19,...,,,,,,,,PNJMN,KL,KL/PNJMN
2,sept18,CityHeights,Mary,Kolee,Girl,3,,smiling face,,2018-09-01 16:20:33,...,,,,,,,,MR,KL,KL/MR
3,sept18,Vista,Elias,Cheng,Boy,3,2010-07-12,smiling face,,2018-09-01 16:21:44,...,,,,,,,,ALS,XNK,XNK/ALS
4,sept18,CityHeights,Javier,Mendez,Boy,0,2014-02-16,smiling face,,2018-09-01 16:22:30,...,,,,,,,,JF,MNTS,MNTS/JF

In [11]:
s = pkg.resource('source').dataframe()
s.columns = ['#',
 'location',
 "first",
 "last",
 "sex",
 'grade',
 'birthday',
 'feeling',
 'start_date',
 'submit_date',
 'Network ID',
 'Form',
 'ClientID',
 'Tablecloth Link',
 'QR Code Link']

s['first'] = s['first'].str.strip().str.title()
s['last'] = s['last'].str.strip().str.title()

s['sound_key'] = s.apply(lambda r: "{}/{}".format(dm(r['last'])[0], dm(r['first'])[0]), axis=1)
s.head()

,#,location,first,last,sex,grade,birthday,feeling,start_date,submit_date,Network ID,Form,ClientID,Tablecloth Link,QR Code Link,sound_key
0,3265196f0219735433173d32066314ae,Grossmont Center,Greyson,Polendo,Boy,0,8/27/2015,heart eyes,9/23/2018 21:40:31,9/23/2018 21:41:15,d9eed66711,Checkin,,,,PLNT/KRSN
1,669bebe1bcc2051720ee3228f024b90a,Grossmont Center,Charlotte,Li,Girl,0,1/11/2017,Not Sure,9/23/2018 21:39:38,9/23/2018 21:40:20,d9eed66711,Checkin,,,,L/XRLT
2,47835a5a28da0fe0fe215d61b7ee7212,Grossmont Center,Jj,Li,Boy,4,4/11/2018,heart eyes,9/23/2018 21:38:34,9/23/2018 21:39:27,d9eed66711,Checkin,,,,L/J
3,a98f4d648e07753880157b46ac339f07,Grossmont Center,Zolin,Mora,Boy,0,4/25/2014,Not Sure,9/23/2018 21:37:13,9/23/2018 21:38:27,d9eed66711,Checkin,,,,MR/SLN
4,d5c0a163d18458da599345975cbe155c,Grossmont Center,Tito,Mora,Boy,2,3/22/2011,screaming in fear,9/23/2018 21:35:53,9/23/2018 21:37:03,d9eed66711,Checkin,,,,MR/TT