In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

from dateutil.parser import parse

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
%run ../../tablecloth.io-storytent-201811/pylib/metaphone.py

**********************************************************************
File "/Users/eric/proj/virt-proj/data-project/sdrdl-data-projects/tablecloth.io/tablecloth.io-storytent-201811/pylib/metaphone.py", line 19, in __main__
Failed example:
    dm(u'Bartoš'), dm(u'Bartosz'), dm(u'Bartosch'), dm(u'Bartos')
Expected:
    (('PRT', ''), ('PRTS', 'PRTX'), ('PRTX', ''), ('PRTS', ''))
Got:
    (('PRTS', ''), ('PRTS', 'PRTX'), ('PRTX', ''), ('PRTS', ''))
**********************************************************************
1 items had failures:
   1 of   4 in __main__
***Test Failed*** 1 failures.

In [3]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

In [20]:
from datetime import timedelta, datetime
from dateutil.parser import parse


source = pkg.resource('source').dataframe()
source['form'] = ''
source['client_id'] = source.index
source['last_dm'] = source.last_name.apply(lambda v: dm(v)[0])
source['first_dm'] = source.first_name.apply(lambda v: dm(v)[0])
source.rename(columns={'gender':'sex', 'checkin_feeling':'feeling'},inplace=True)

def conv_bd(v):
    try:
        return parse(v).date()
    except ValueError:
        return None

def convt_date(v):
    if isinstance(v, str):
        
        try:
            return parse(v).date()
        except ValueError:
            pass
        
        try:
            days = int(v)
            if days > 1000:
                return (pd.Timestamp('1900-01-01')+pd.Timedelta(days=days)).date()
            else:
                return None
        except ValueError:
            pass
        
        return None

    else:
        try:
            return v.date()
        except AttributeError:
            return None
        
source['birthday'] = pd.to_datetime(source.birthdate_converted.apply(convt_date))
   
#Mop up wacky dates

source['birthday'] =    source.birthday.where(source.birthday.dt.year > 1990, None) 
    
source['checkin_timestamp'] = pd.to_datetime(source.checkin_timestamp)
source['checkout_timestamp'] = pd.to_datetime(source.checkout_timestamp)
     
cols = 'location first_name last_name sex grade birthday feeling start_date submit_date network_id form clientid tablecloth_link qr_code_link'.split()

for c in cols:
    try:
        source[c]
    except KeyError:
        source[c] = None

source = source.sort_values('checkin_timestamp')\
    .drop_duplicates(subset=['first_name', 'last_name', 'checkin_timestamp', 'checkout_timestamp'])       
        
source.head().T

,0,6647,6648,6649,6650
source_file,sept18,oct17,oct17,oct17,oct17
location,ElCajon,ElCajon,ElCajon,ElCajon,ElCajon
first_name,Aelen,Yemen,Regina,Abdallah,Sarah
last_name,Putrus,Putrus,Alkass,Saleh,Saleh
sex,Girl,Boy,Girl,Boy,Girl
grade,1,4,1,1,3
birthdate,2011-04-13,2008-05-05,2012-08-26,2011-03-23,2009-04-27
feeling,heart eyes,smiling face,heart eyes,screaming in fear,smiling face
checkout_feeling,,,,,
checkin_timestamp,2017-10-25 23:29:23,2017-10-25 23:30:37,2017-10-25 23:32:42,2017-10-25 23:46:01,2017-10-25 23:47:51
checkout_timestamp,NaT,NaT,NaT,NaT,NaT
visit_duration,,,,,
quick_checkin_url,https://storytentvisit.typeform.com/to/gu1NmX?...,https://storytentvisit.typeform.com/to/gu1NmX?...,https://storytentvisit.typeform.com/to/gu1NmX?...,https://storytentvisit.typeform.com/to/gu1NmX?...,https://storytentvisit.typeform.com/to/gu1NmX?...
quick_checkout_url,https://storytentvisit.typeform.com/to/rRzNmu?...,https://storytentvisit.typeform.com/to/rRzNmu?...,https://storytentvisit.typeform.com/to/rRzNmu?...,https://storytentvisit.typeform.com/to/rRzNmu?...,https://storytentvisit.typeform.com/to/rRzNmu?...
birthdate_converted,4/13/2011,5/5/2008,8/26/2012,3/23/2011,4/27/2009
checkin_qr_url,#NAME?,Loading...,Loading...,Loading...,Loading...
checkout_qr_url,#NAME?,Loading...,Loading...,Loading...,Loading...
notes,NOTES,NOTES,NOTES,NOTES,NOTES
qr_checkin_url,#NAME?,,,,
qr_checkout_url,#NAME?,,,,
form,,,,,
client_id,0,6647,6648,6649,6650
last_dm,PTRS,PTRS,ALKS,SL,SL
first_dm,ALN,AMN,RJN,APTL,SR
birthday,2011-04-13 00:00:00,2008-05-05 00:00:00,2012-08-26 00:00:00,2011-03-23 00:00:00,2009-04-27 00:00:00
start_date,None,None,None,None,None
submit_date,None,None,None,None,None
network_id,None,None,None,None,None
clientid,None,None,None,None,None
tablecloth_link,None,None,None,None,None
qr_code_link,None,None,None,None,None

In [23]:
source['start_date'] = source.checkin_timestamp

ci = source[source.checkin_timestamp.notnull()].copy()
ci['submit_date'] = ci['checkin_timestamp']
ci['form'] = 'Checkin'

co = source[source.checkout_timestamp.notnull()].copy()
co['submit_date'] = co['checkout_timestamp']
co['form'] = 'Checkout'

new_source = pd.concat([ci, co])[cols].sort_values('submit_date')
print(len(new_source))
new_source

6702

,location,first_name,last_name,sex,grade,birthday,feeling,start_date,submit_date,network_id,form,clientid,tablecloth_link,qr_code_link
0,ElCajon,Aelen,Putrus,Girl,1,2011-04-13,heart eyes,2017-10-25 23:29:23,2017-10-25 23:29:23,None,Checkin,None,None,None
6647,ElCajon,Yemen,Putrus,Boy,4,2008-05-05,smiling face,2017-10-25 23:30:37,2017-10-25 23:30:37,None,Checkin,None,None,None
6648,ElCajon,Regina,Alkass,Girl,1,2012-08-26,heart eyes,2017-10-25 23:32:42,2017-10-25 23:32:42,None,Checkin,None,None,None
6649,ElCajon,Abdallah,Saleh,Boy,1,2011-03-23,screaming in fear,2017-10-25 23:46:01,2017-10-25 23:46:01,None,Checkin,None,None,None
6650,ElCajon,Sarah,Saleh,Girl,3,2009-04-27,smiling face,2017-10-25 23:47:51,2017-10-25 23:47:51,None,Checkin,None,None,None
6651,ElCajon,Mohammad,Saleh,Boy,5,2007-06-13,smiling face,2017-10-25 23:48:50,2017-10-25 23:48:50,None,Checkin,None,None,None
6652,ElCajon,Kamilya,Alkass,Girl,1,2012-04-28,smiling face,2017-10-26 00:11:11,2017-10-26 00:11:11,None,Checkin,None,None,None
6653,ElCajon,Daniel,Putrus,Boy,1,2015-02-21,smiling face,2017-10-26 00:12:56,2017-10-26 00:12:56,None,Checkin,None,None,None
6654,ElCajon,Regina,Alkass,Girl,1,2012-08-26,,NaT,2017-10-26 00:50:17,None,Checkout,None,None,None
6655,ElCajon,Kamilya,Alkass,Girl,1,2012-04-28,,NaT,2017-10-26 00:51:02,None,Checkout,None,None,None
6656,ElCajon,Daniel,Putrus,Boy,1,2015-02-21,,NaT,2017-10-26 00:51:59,None,Checkout,None,None,None
6657,ElCajon,Aelen,Putrus,Girl,1,2011-04-13,,NaT,2017-10-26 00:53:13,None,Checkout,None,None,None
6658,ElCajon,Yamen,Putrus,Boy,4,2008-05-05,,NaT,2017-10-26 00:54:20,None,Checkout,None,None,None
6659,ElCajon,Sarah,Saleh,Girl,3,2009-04-27,,NaT,2017-10-26 00:54:44,None,Checkout,None,None,None
6660,ElCajon,Mohammad,Saleh,Boy,5,2007-06-13,,NaT,2017-10-26 00:55:13,None,Checkout,None,None,None
6661,ElCajon,Abdallah,Saleh,Boy,1,2011-03-21,,NaT,2017-10-26 00:55:43,None,Checkout,None,None,None
6662,,,,,,NaT,,2017-10-27 22:43:46,2017-10-27 22:43:46,None,Checkin,None,None,None
6663,ImperialBeach,Lily,Cibrian,Girl,5,2007-01-07,heart eyes,2017-10-27 22:53:59,2017-10-27 22:53:59,None,Checkin,None,None,None
6664,ImperialBeach,Jeremy,Ireland,Boy,1,2017-10-27,null,2017-10-27 23:22:05,2017-10-27 23:22:05,None,Checkin,None,None,None
6665,ImperialBeach,Emilia,Reis,Girl,0,2016-06-17,heart eyes,2017-10-27 23:30:34,2017-10-27 23:30:34,None,Checkin,None,None,None
6666,ImperialBeach,Sasha,Maroshek,Girl,0,2015-08-18,heart eyes,2017-10-27 23:33:04,2017-10-27 23:33:04,None,Checkin,None,None,None
6667,ImperialBeach,Lily,Cibrian,Girl,5,2007-01-07,,NaT,2017-10-27 23:44:22,None,Checkout,None,None,None
6668,ImperialBeach,Emilia,Reis,Girl,0,2016-06-17,,NaT,2017-10-27 23:45:19,None,Checkout,None,None,None
6669,ImperialBeach,Jeremy,Ireland,Boy,1,2017-10-27,,NaT,2017-10-27 23:47:10,None,Checkout,None,None,None
6670,ImperialBeach,Charlotte,Robinson,Girl,0,2016-06-14,heart eyes,2017-10-28 00:03:47,2017-10-28 00:03:47,None,Checkin,None,None,None
6671,ImperialBeach,Thomas,Willis,Boy,0,2016-03-12,smiling face,2017-10-28 00:13:34,2017-10-28 00:13:34,None,Checkin,None,None,None
6672,ImperialBeach,Thomas,Willis,Boy,0,2016-03-12,,NaT,2017-10-28 00:19:24,None,Checkout,None,None,None
6673,ImperialBeach,Charlotte,Robinson,Girl,0,2016-06-14,,NaT,2017-10-28 00:26:06,None,Checkout,None,None,None
6674,ImperialBeach,Alexander,Valle,Boy,0,2014-01-03,heart eyes,2017-10-28 00:38:38,2017-10-28 00:38:38,None,Checkin,None,None,None
6675,ImperialBeach,Luna,Alvarez,Girl,0,2014-08-15,heart eyes,2017-10-28 00:40:11,2017-10-28 00:40:11,None,Checkin,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,GrossmontCenter,Abigail,Molina,Girl,0,NaT,heart eyes,2018-10-14 21:09:58,2018-10-14 21:09:58,None,Checkin,None,None,None
636,GrossmontCenter,Jakob,Molina,Boy,4,NaT,Not Sure,2018-10-14 21:11:43,2018-10-14 21:11:43,None,Checkin,None,None,None
637,,Vivian,Opana,,,NaT,,NaT,2018-10-14 21:15:06,None,Checkout,None,None,None
638,,Ruben,Opana,,,NaT,,NaT,2018-10-14 21:15:54,None,Checkout,None,None,None
639,GrossmontCenter,Daniel,Molina,Boy,6,NaT,screaming in fear,2018-10-14 21:28:30,2018-10-14 21:28:30,None,Checkin,None,None,None
640,,Michael,Abdullah,,,NaT,,NaT,2018-10-14 21:31:03,None,Checkout,None,None,None
641,,Mateos,Abdullah,,,NaT,,NaT,2018-10-14 21:31:41,None,Checkout,None,None,None
664,,,,,,NaT,,NaT,2018-10-14 21:31:44,None,Checkout,None,None,None
642,,Zildjian,Zamora,,,NaT,,NaT,2018-10-14 21:34:18,None,Checkout,None,None,None
643,ElCajon,Alayza,Rioja,Girl,0,NaT,smiling face,2018-10-14 21:34:35,2018-10-14 21:34:35,None,Checkin,None,None,None
644,,Eros,Zamora,,,NaT,,NaT,2018-10-14 21:34:38,None,Checkout,None,None,None
645,,Zahni,Rodriguez,,,NaT,,NaT,2018-10-14 21:44:34,None,Checkout,None,None,None
646,,Adil,Almahdawe,,,NaT,,NaT,2018-10-14 21:45:02,None,Checkout,None,None,None
647,,Taha,Al taie,,,NaT,,NaT,2018-10-14 21:45:33,None,Checkout,None,None,None
648,,Xia,Rodriguez,,,NaT,,NaT,2018-10-14 21:45:58,None,Checkout,None,None,None
649,,Adil,Almahdawe,,,NaT,,NaT,2018-10-14 21:46:28,None,Checkout,None,None,None
650,,Myranda,Rosas,,,NaT,,NaT,2018-10-14 21:47:14,None,Checkout,None,None,None
651,,Samantha,Bermudez,,,NaT,,NaT,2018-10-14 21:48:03,None,Checkout,None,None,None
663,,,,,,NaT,,NaT,2018-10-14 21:49:21,None,Checkout,None,None,None
652,,James,Guerrero,,,NaT,,NaT,2018-10-14 21:49:59,None,Checkout,None,None,None
653,,Alayza,Rioja,,,NaT,,NaT,2018-10-14 21:50:12,None,Checkout,None,None,None
654,,Elijah,Sklar,,,NaT,,NaT,2018-10-14 21:50:53,None,Checkout,None,None,None
655,,William,Walker,,,NaT,,NaT,2018-10-14 21:51:39,None,Checkout,None,None,None
656,,Levi,Sklar,,,NaT,,NaT,2018-10-14 21:51:52,None,Checkout,None,None,None
657,,Carson,Walker,,,NaT,,NaT,2018-10-14 21:52:03,None,Checkout,None,None,None
658,,Lennex,Walker,,,NaT,,NaT,2018-10-14 21:52:29,None,Checkout,None,None,None
662,,,,,,NaT,,NaT,2018-10-14 22:00:51,None,Checkout,None,None,None
661,,,,,,NaT,cold sweat,2018-10-16 16:21:50,2018-10-16 16:21:50,None,Checkin,None,None,None
660,,,,,,NaT,sad face,2018-10-16 16:36:48,2018-10-16 16:36:48,None,Checkin,None,None,None
659,ElCajon,Kelly,Abbott,Boy,12,NaT,screaming in fear,2018-10-16 17:39:58,2018-10-16 17:39:58,None,Checkin,None,None,None